/* MaterialIcons Font Face for Web */
@font-face {
  font-family: 'MaterialIcons';
  src: url('/_expo/static/fonts/MaterialIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Ensure icons render properly */
.material-icons {
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
